@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    cursor: none;
  }
  html,
  body {
    @apply selection:bg-red-200 min-h-[100vh] bg-light-background dark:bg-dark-primary text-light-text dark:text-dark-text;
    font-family: "Raleway", sans-serif;
    cursor: none;
  }

  /* Jumbo */
  .btn-jumbo {
    @apply btn bg-light-primary dark:bg-dark-primary hover:bg-light-primary hover:dark:bg-dark-primary text-white dark:text-dark-text hover:text-dark-red hover:border-2 hover:border-dark-red;
  }

  /* Portfolio */
  .label {
    @apply inline-block bg-sky-400 rounded-full px-3 py-1 text-sm font-semibold text-gray-600 mr-2 mb-2;
  }

  .shadow-card {
    @apply shadow-[10px_-9px_20px_2px_#000000] hover:shadow-[10px_-9px_20px_2px_#D72323] transition duration-500;
  }

  /* Contact us */
  .contact {
    @apply flex items-center text-xl gap-4 my-10;
  }
}
